<p>
Enter a new Word
</p>
<form action="addword" method="POST">
	Hanzi: <input type="text" name="hanzi">
	<br/>
	Eng: <input type="text" name="eng">
	<br/>

	<select name="label">
		<option value="Label1">Label1</option>  
		<option value="Label2">Label2</option>  
	</select>

	<input type="submit">
</form>
