<p>
Enter a new Word
</p>
<form action="addword" method="POST">
	Hanzi: <input type="text" name="hanzi">
	<br/>
	Pinyin: <input type="text" name="pinyin">
	<br/>
	Eng: <input type="text" name="eng">
	<br/>

	<select name="label">
		<option value="Noun">Noun</option>  
		<option value="Adjective">Adjective</option>  
		<option value="Verb">Verb</option>
	</select>

	<input type="submit">
</form>
