<p>
Enter a new Word
</p>
<form action="addword" method="POST" class="form" role="form">

	<div class="form-group">
		<label for="simp">Hanzi</label>
		<input type="text" class="form-control" name="simp" id="simp">
	</div>

	<div class="form-group">
		<label for="eng">Eng</label>
		<input type="text" class="form-control" name="eng" id="eng">
	</div>

	<div class="form-group">
		<label for="sel">Label</label>
		<select class="form-control" name="sel" id="sel">
			<option>Label1</option>  
			<option>Label2</option>  
		</select>
	</div>


	<input type="submit" class="btn btn-default">
</form>
