<p>
Enter a new Noun
</p>
<form action="addword" method="POST">
	Hanzi: <input type="text" name="hanzi">
	<br/>
	Pinyin: <input type="text" name="pinyin">
	<br/>
	Eng: <input type="text" name="eng">
	<br/>

	<input type="submit">
</form>
