<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>Graphan</title>
		<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
	</head>
	<body class='container'>
		<%= yield %>
	</body>
</html>
